.bg-image {
  background-image: url("/img/bg.png");
  background-size: 100% 100%;
  background-position: top;
  /* width: 100%; */
  /* height: 100%; */
  overflow: hidden;
}

.bg-frame {
  background-image: url("/img/bigFrame.png");
  background-size: 100% 100%;
  background-position: top;
  /* width: 100%; */
  /* height: 100%; */
  overflow: hidden;
}

.bg-input {
  background-image: url("/img/frameInput.png");
  background-size: 100% 100%;
  background-position: top;
  /* width: 100%; */
  /* height: 100%; */
  overflow: hidden;
}


.bg-btn {
  background-image: url("/img/frameBtn.png");
  background-size: 100% 100%;
  background-position: top;
  /* width: 100%; */
  /* height: 100%; */
  overflow: hidden;
}
